.pag-accesorios-modificar-admin,
.pag-accesorios-modificar-admin * {
  box-sizing: border-box;
}
.pag-accesorios-modificar-admin {
  background: #191919;
  height: 1730px;
  overflow: hidden;
}
.secci-n-accesorios-de-parqueo-modificar {
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
  position: absolute;
  right: 30.68%;
  left: 6.69%;
  width: 62.63%;
  top: 292px;
  height: 221.69px;
}
.secci-n-accesorios-de-parqueo-modificar-span {
  color: #ffffff;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.secci-n-accesorios-de-parqueo-modificar-span2 {
  color: #ff335f;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.frame-142 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 565.5px);
  top: 701.38px;
}
.id-del-producto-a-modificar {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.identificador-de-producto-existente {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 31.39px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.572deg) scale(1, 1);
}
.frame-174 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 0px);
  top: 635px;
}
.frame-138 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nombre {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.coloca-el-nombre-del-producto {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.325deg) scale(1, 1);
}
.frame-143 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.precio {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.coloca-el-precio-el-producto {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.51deg) scale(1, 1);
}
.frame-139 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stock {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.coloca-el-stock-actual-del-producto {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-14 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.048deg) scale(1, 1);
}
.frame-140 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.marca {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.coloca-para-que-marca-de-carro-es-el-accesorio {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-15 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.327deg) scale(1, 1);
}
.frame-141 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.descripci-n {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.genera-una-descripci-n-sobre-el-producto {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-16 {
  flex-shrink: 0;
  width: 518.09px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-175 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  width: 234.17px;
  position: absolute;
  left: 355px;
  top: 992px;
}
.frame-124 {
  background: #2c2c2c;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.adjuntar-imagen {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-126 {
  background: #ff335f;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.modificar {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-125 {
  background: #2c2c2c;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.ver-modificaci-n {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-127 {
  background: #ff335f;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 226px;
  position: absolute;
  left: 381px;
  top: 1548px;
}
.volver {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.boton-accion {
  all: unset;
  background: #ff335f;
  border-radius: 17px;
  padding: 10px 20px;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  width: 272px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.boton-accion.modificar {
  width: 220px;
}

.boton-accion.ver-modificacion {
  width: 320px;
}

.boton-accion.adjuntar {
  width: 300px;
}

.boton-accion:hover {
  background-color: #e02952;
}

/* Botón Volver */
.boton-volver {
  all: unset;
  background: #ff335f;
  border-radius: 17px;
  padding: 10px 30px;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  height: 63px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.boton-volver:hover {
  background-color: #e02952;
}

input,
textarea {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  font: inherit;
}

