.pag-principal-admin-borrador,
.pag-principal-admin-borrador * {
  box-sizing: border-box;
}
.pag-principal-admin-borrador {
  background: #191919;
  height: 2312px;
  overflow: hidden;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-end;
  justify-content: flex-start;
  height: 1745px;
  min-height: 1745px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 179px;
}
.frame-11 {
  border-radius: 100px;
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 475px;
  min-width: 374px;
  position: relative;
}
.sientete-bienvenido-al-sistema-querido-administrador {
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 67px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 280px;
}
.sientete-bienvenido-al-sistema-querido-administrador-span {
  color: #ffffff;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 67px;
  font-weight: 600;
}
.sientete-bienvenido-al-sistema-querido-administrador-span2 {
  color: #ff335f;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 67px;
  font-weight: 600;
}
.boton-kia {
  flex-shrink: 0;
  width: 601px;
  height: 92px;
  position: relative;
}
.rectangle-21 {
  background: #ff335f;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.kia {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 2.61%;
  left: 2.05%;
  width: 95.34%;
  bottom: 29.89%;
  top: 12.5%;
  height: 57.61%;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-37 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.escoge-que-secci-n-quieres-modificar {
  color: #ff335f;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.recuerda-que-cualquier-cambios-que-hagas-se-vera-registrado-en-el-sistema {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-23 {
  padding: 0px 60px 0px 60px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  row-gap: 51px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-44 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 374px;
  min-width: 412.9px;
  position: relative;
}
.frame-16 {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image {
  border-radius: 16.61px;
  align-self: stretch;
  flex-shrink: 0;
  height: 257.99px;
  position: relative;
  object-fit: cover;
}
.frame-19 {
  background: rgba(255, 255, 255, 0.66);
  border-radius: 17px;
  border-style: solid;
  border-color: #2c2c2c;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.porshe {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 23.453269958496094px;
  font-weight: 400;
  position: relative;
}
.frame-45 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 438.1px;
  position: relative;
}
.frame-20 {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.externos {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 23.453269958496094px;
  font-weight: 400;
  position: relative;
}
.frame-46 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-width: 444px;
  position: relative;
}
.frame-21 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image2 {
  border-radius: 16.61px;
  align-self: stretch;
  flex-shrink: 0;
  height: 258px;
  position: relative;
  object-fit: cover;
}
.internos {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 23.453269958496094px;
  font-weight: 400;
  position: relative;
}
.frame-47 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 412.9px;
  position: relative;
}
.audi {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 374px;
  min-width: 437.79px;
  position: relative;
}
.jeep {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-192 {
  background: rgba(255, 255, 255, 0.66);
  border-radius: 17px;
  border-style: solid;
  border-color: #2c2c2c;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
}
.frame-49 {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 374px;
  min-width: 444px;
  position: relative;
}
.frame-22 {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image3 {
  align-self: stretch;
  flex-shrink: 0;
  height: 258px;
  position: relative;
  object-fit: cover;
}

.frame-225 {
  display: flex;
  flex-direction: row;
  gap: 43px;
  align-items: center;
  justify-content: flex-start;
  height: 115.62px;
  position: absolute;
  left: calc(50% - 650px);
  top: 30.43px;
}
.logo-accesorios-light-1 {
  flex-shrink: 0;
  width: 316.17px;
  height: 95px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 316.17/95;
}
.inicio {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 106px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matriz {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 161px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 161px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrito {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 161px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-106 {
  flex-shrink: 0;
  width: 188px;
  height: 114px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 188/114;
}

.categoria-parqueo {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.categoria-externos {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}

.categoria-internos {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}

.categoria-luces-led {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}

.categoria-modulo-elevavidrios {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.categoria-audio {
  padding: 0px 59px 0px 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
}

.boton-categoria {
  background: rgba(255, 255, 255, 0.66);
  border-radius: 17px;
  border-style: solid;
  border-color: #2c2c2c;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}
.texto-boton {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 23.453269958496094px;
  font-weight: 400;
  position: relative;
}
.boton-categoria:hover {
  background: rgba(200, 200, 200, 0.8);
}
.boton-categoria:hover .texto-boton {
  color: #ff335f;
}
