.pag-accesorios-eliminar-admin,
.pag-accesorios-eliminar-admin * {
  box-sizing: border-box;
}
.pag-accesorios-eliminar-admin {
  background: #191919;
  height: 2356px;
  overflow: hidden;
}
.secci-n-accesorios-de-parqueo {
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
  position: absolute;
  right: 34.58%;
  left: 5.62%;
  width: 59.79%;
  top: 352px;
  height: 280px;
}
.secci-n-accesorios-de-parqueo-span {
  color: #ffffff;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.secci-n-accesorios-de-parqueo-span2 {
  color: #ff335f;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.frame-233 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 18px;
  top: 678px;
  overflow: visible;
}
.id {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 88.44%;
  left: 4.17%;
  width: 7.4%;
  bottom: 66.98%;
  top: 31.11%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descripci-n {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 7.57%;
  left: 77.72%;
  width: 14.71%;
  bottom: 66.94%;
  top: 31.15%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombre {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 72.66%;
  left: 16.52%;
  width: 10.82%;
  bottom: 66.98%;
  top: 31.11%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.precio {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 59.32%;
  left: 32.29%;
  width: 8.39%;
  bottom: 66.98%;
  top: 31.11%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 43.49%;
  left: 48.12%;
  width: 8.39%;
  bottom: 66.94%;
  top: 31.15%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marca {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 27.71%;
  left: 63.9%;
  width: 8.39%;
  bottom: 66.98%;
  top: 31.11%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-234 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1247.27px;
  height: auto;
  position: absolute;
  left: 18px;
  top: 888px;
  overflow: visible;
}
._10 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 87.97%;
  left: 3.64%;
  width: 8.39%;
  bottom: 58.02%;
  top: 40.07%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._505-539 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 56.2%;
  left: 30.21%;
  width: 13.59%;
  bottom: 57.98%;
  top: 40.11%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mejora-la-seguridad-y-comodidad-de-tu-mazda-3-sed-n-con-este-kit-de-c-mara-de-reversa-y-arn-s-f-cil-instalaci-n-visi-n-clara-y-amplia-para-maniobras-m-s-seguras-env-o-gratis-y-devoluci-n-gratuita {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 4.32%;
  left: 77.39%;
  width: 18.28%;
  bottom: 57.64%;
  top: 40.45%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kit-camara-reversa-arn-s-mazda-3 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 70.52%;
  left: 15.88%;
  width: 13.59%;
  bottom: 58.06%;
  top: 40.03%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._30 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 43.28%;
  left: 48.33%;
  width: 8.39%;
  bottom: 58.02%;
  top: 40.07%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mazda {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 27.5%;
  left: 64.11%;
  width: 8.39%;
  bottom: 58.06%;
  top: 40.03%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-53 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 71.15%;
  left: 28.7%;
  bottom: 56.03%;
  top: 38.16%;
}
.rectangle-72 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 85.47%;
  left: 14.37%;
  bottom: 56.11%;
  top: 38.07%;
}
.rectangle-54 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 55.31%;
  left: 44.53%;
  bottom: 56.03%;
  top: 38.16%;
}
.rectangle-55 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 39.53%;
  left: 60.31%;
  bottom: 56.07%;
  top: 38.12%;
}
.rectangle-56 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 23.75%;
  left: 76.09%;
  bottom: 56.03%;
  top: 38.16%;
}
.frame-237 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1251.37px;
  height: auto;
  position: absolute;
  left: 18px;
  top: 1521px;
  overflow: visible;
}
._505-5392 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 55.89%;
  left: 30.52%;
  width: 13.59%;
  bottom: 31.11%;
  top: 66.98%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mejora-la-seguridad-y-comodidad-de-tu-mazda-3-sed-n-con-este-kit-de-c-mara-de-reversa-y-arn-s-f-cil-instalaci-n-visi-n-clara-y-amplia-para-maniobras-m-s-seguras-env-o-gratis-y-devoluci-n-gratuita2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 4.01%;
  left: 77.71%;
  width: 18.28%;
  bottom: 30.77%;
  top: 67.32%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kit-camara-reversa-arn-s-mazda-32 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 70.21%;
  left: 16.2%;
  width: 13.59%;
  bottom: 31.2%;
  top: 66.89%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._302 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 42.97%;
  left: 48.64%;
  width: 8.39%;
  bottom: 31.15%;
  top: 66.94%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mazda2 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 27.19%;
  left: 64.43%;
  width: 8.39%;
  bottom: 31.2%;
  top: 66.89%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-68 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 70.84%;
  left: 29.01%;
  bottom: 29.16%;
  top: 65.03%;
}
.rectangle-75 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 85.47%;
  left: 14.37%;
  bottom: 29.24%;
  top: 64.94%;
}
.rectangle-69 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 55%;
  left: 44.84%;
  bottom: 29.16%;
  top: 65.03%;
}
.rectangle-70 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 39.22%;
  left: 60.62%;
  bottom: 29.2%;
  top: 64.98%;
}
.rectangle-71 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 23.44%;
  left: 76.4%;
  bottom: 29.16%;
  top: 65.03%;
}
.frame-236 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1251.37px;
  height: auto;
  position: absolute;
  left: 18px;
  top: 1310px;
  overflow: visible;
}
._505-5393 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 55.89%;
  left: 30.52%;
  width: 13.59%;
  bottom: 40.07%;
  top: 58.02%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mejora-la-seguridad-y-comodidad-de-tu-mazda-3-sed-n-con-este-kit-de-c-mara-de-reversa-y-arn-s-f-cil-instalaci-n-visi-n-clara-y-amplia-para-maniobras-m-s-seguras-env-o-gratis-y-devoluci-n-gratuita3 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 4.01%;
  left: 77.71%;
  width: 18.28%;
  bottom: 39.73%;
  top: 58.36%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kit-camara-reversa-arn-s-mazda-33 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 70.21%;
  left: 16.2%;
  width: 13.59%;
  bottom: 40.15%;
  top: 57.94%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._303 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 42.97%;
  left: 48.64%;
  width: 8.39%;
  bottom: 40.11%;
  top: 57.98%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mazda3 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 27.19%;
  left: 64.43%;
  width: 8.39%;
  bottom: 40.15%;
  top: 57.94%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-63 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 70.84%;
  left: 29.01%;
  bottom: 38.12%;
  top: 56.07%;
}
.rectangle-74 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 85.47%;
  left: 14.37%;
  bottom: 38.12%;
  top: 56.07%;
}
.rectangle-64 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 55%;
  left: 44.84%;
  bottom: 38.12%;
  top: 56.07%;
}
.rectangle-65 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 39.22%;
  left: 60.62%;
  bottom: 38.16%;
  top: 56.03%;
}
.rectangle-66 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 23.44%;
  left: 76.4%;
  bottom: 38.12%;
  top: 56.07%;
}
.frame-235 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1251.37px;
  height: auto;
  position: absolute;
  left: 18px;
  top: 1099px;
  overflow: visible;
}
._20 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 87.97%;
  left: 3.64%;
  width: 8.39%;
  bottom: 49.11%;
  top: 48.98%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._40 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 87.97%;
  left: 3.64%;
  width: 8.39%;
  bottom: 31.07%;
  top: 67.02%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._304 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 87.97%;
  left: 3.64%;
  width: 8.39%;
  bottom: 40.07%;
  top: 58.02%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._505-5394 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 55.89%;
  left: 30.52%;
  width: 13.59%;
  bottom: 49.02%;
  top: 49.07%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mejora-la-seguridad-y-comodidad-de-tu-mazda-3-sed-n-con-este-kit-de-c-mara-de-reversa-y-arn-s-f-cil-instalaci-n-visi-n-clara-y-amplia-para-maniobras-m-s-seguras-env-o-gratis-y-devoluci-n-gratuita4 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 4.01%;
  left: 77.71%;
  width: 18.28%;
  bottom: 48.68%;
  top: 49.41%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kit-camara-reversa-arn-s-mazda-34 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 70.21%;
  left: 16.2%;
  width: 13.59%;
  bottom: 49.11%;
  top: 48.98%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._305 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 42.97%;
  left: 48.64%;
  width: 8.39%;
  bottom: 49.07%;
  top: 49.02%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mazda4 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 27.19%;
  left: 64.43%;
  width: 8.39%;
  bottom: 49.11%;
  top: 48.98%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-58 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 70.84%;
  left: 29.01%;
  bottom: 47.07%;
  top: 47.11%;
}
.rectangle-73 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 85.47%;
  left: 14.37%;
  bottom: 47.07%;
  top: 47.11%;
}
.rectangle-59 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 55%;
  left: 44.84%;
  bottom: 47.07%;
  top: 47.11%;
}
.rectangle-60 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 39.22%;
  left: 60.62%;
  bottom: 47.11%;
  top: 47.07%;
}
.rectangle-61 {
  background: #d9d9d9;
  width: 0.16%;
  height: 5.81%;
  position: absolute;
  right: 23.44%;
  left: 76.4%;
  bottom: 47.07%;
  top: 47.11%;
}
.rectangle-76 {
  background: #d9d9d9;
  width: 0.42%;
  height: 35.53%;
  position: absolute;
  right: 2.45%;
  left: 97.13%;
  bottom: 29.46%;
  top: 35.02%;
}
.frame-227 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 436.9px;
  height: 5.86%;
  position: absolute;
  left: calc(50% - 494.32px);
  bottom: 16.38%;
  top: 77.76%;
}
.id-del-producto {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-226 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.inserta-el-id-del-producto-a-borrar {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.377deg) scale(1, 1);
}
.frame-231 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 513px;
  height: 5.95%;
  position: absolute;
  left: calc(50% - -57.68px);
  bottom: 16.5%;
  top: 77.55%;
}
.intervalo-de-productos-a-borrar {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 31px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-230 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-228 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 226px;
  position: relative;
}
.borrar-desde-el-id {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.254deg) scale(1, 1);
}
.frame-229 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 263px;
  position: relative;
}
.terminar-hasta-el-id {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.269deg) scale(1, 1);
}
.frame-238 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: calc(50% - 88.6px);
  top: 552px;
  overflow: visible;
}
.image-107 {
  width: 77px;
  height: 3.27%;
  position: absolute;
  left: calc(50% - -805.68px);
  bottom: 72.88%;
  top: 23.85%;
  object-fit: cover;
  aspect-ratio: 1;
}
.buscar-item {
  color: #191919;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 38.06%;
  left: 43.65%;
  width: 18.29%;
  bottom: 73.39%;
  top: 24.7%;
  height: 1.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-132 {
  background: #ff335f;
  border-radius: 17px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 10.68%;
  height: 3.21%;
  position: absolute;
  right: 85.47%;
  left: 3.85%;
  bottom: 7.19%;
  top: 89.6%;
}
.volver {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
}
.frame-133 {
  background: #ff335f;
  border-radius: 17px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 10.68%;
  height: 3.21%;
  position: absolute;
  right: 54.38%;
  left: 34.95%;
  bottom: 11.05%;
  top: 85.74%;
}
.borrar {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
}
.frame-134 {
  background: #ff335f;
  border-radius: 17px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 10.68%;
  height: 3.21%;
  position: absolute;
  right: 5.73%;
  left: 83.59%;
  bottom: 11.05%;
  top: 85.74%;
}

