.pag-accesorios-eliminar-admin,
.pag-accesorios-eliminar-admin * {
  box-sizing: border-box;
}
.pag-accesorios-eliminar-admin {
  background: #191919;
  height: 2356px;
  overflow: hidden;
}
.secci-n-accesorios-de-parqueo {
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
  position: absolute;
  right: 37.69%;
  left: 2.52%;
  width: 59.79%;
  top: 221px;
  height: 280px;
}
.secci-n-accesorios-de-parqueo-span {
  color: #ffffff;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.secci-n-accesorios-de-parqueo-span2 {
  color: #ff335f;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.frame-227 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  width: 436.9px;
  position: absolute;
  left: calc(50% - 493.82px);
  top: 1832px;
}
.id-del-producto {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-226 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.inserta-el-id-del-producto-a-borrar {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.377deg) scale(1, 1);
}
.frame-231 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: center;
  width: 513px;
  position: absolute;
  left: calc(50% - -58.18px);
  top: 1827px;
}
.intervalo-de-productos-a-borrar {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 31px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-230 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-228 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 226px;
  position: relative;
}
.borrar-desde-el-id {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.254deg) scale(1, 1);
}
.frame-229 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 263px;
  position: relative;
}
.terminar-hasta-el-id {
  color: #747474;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.269deg) scale(1, 1);
}
.frame-132 {
  background: #ff335f;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 139.76px;
  position: absolute;
  left: calc(50% - 549.5px);
  top: 2148px;
}
.volver {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
}
.frame-133 {
  background: #ff335f;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 139.76px;
  position: absolute;
  left: calc(50% - 197.05px);
  top: 2020px;
}
.borrar {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
}
.frame-134 {
  background: #ff335f;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 140.08px;
  position: absolute;
  left: calc(50% - -441.18px);
  top: 2020px;
}
.frame-254 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 665.5px);
  top: 725px;
}
.frame-253 {
  display: flex;
  flex-direction: column;
  gap: 81px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-136 {
  background: #2c2c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-239 {
  display: flex;
  flex-direction: row;
  gap: 79px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.id {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 97.03px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombre {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 142px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.precio {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marca {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descripci-n {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 193px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-249 {
  background: #2c2c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 132px;
  position: relative;
  overflow: hidden;
}
.frame-242 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._10 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-72 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 2.05px;
  height: 137px;
  position: relative;
}
.kit-camara-reversa-arn-s-mazda-3 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: 178.35px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-53 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 2.05px;
  height: 137px;
  position: relative;
}
._505-539 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  width: 178.35px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-54 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 2.05px;
  height: 137px;
  position: relative;
}
._30 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-55 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 2.05px;
  height: 137px;
  position: relative;
}
.mazda {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 110.02px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-56 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 2.05px;
  height: 137px;
  position: relative;
}
.mejora-la-seguridad-y-comodidad-de-tu-mazda-3-sed-n-con-este-kit-de-c-mara-de-reversa-y-arn-s-f-cil-instalaci-n-visi-n-clara-y-amplia-para-maniobras-m-s-seguras-env-o-gratis-y-devoluci-n-gratuita {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 239.85px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-250 {
  background: #2c2c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 132px;
  position: relative;
  overflow: hidden;
}
.frame-251 {
  background: #2c2c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 132px;
  position: relative;
  overflow: hidden;
}
.frame-252 {
  background: #2c2c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 132px;
  position: relative;
  overflow: hidden;
}
.rectangle-76 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 5.47px;
  height: 837px;
  position: relative;
}
.frame-241 {
  background: #ffffff;
  padding: 27px 5px 27px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 702px;
  position: absolute;
  left: calc(50% - 120.5px);
  top: 563.5px;
}
.buscar-item {
  color: #191919;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Botones principales (Borrar) === */
.boton-accion {
  all: unset;
  background: #ff335f;
  border-radius: 17px;
  padding: 10px 20px;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  width: 272px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.boton-accion.borrar {
  width: 272px;
}

.boton-accion:hover {
  background-color: #e02952;
}

/* === Botón Volver === */
.boton-volver {
  all: unset;
  background: #ff335f;
  border-radius: 17px;
  padding: 10px 30px;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  height: 63px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.boton-volver:hover {
  background-color: #e02952;
}

input.inserta-el-id-del-producto-a-borrar,
input.borrar-desde-el-id,
input.terminar-hasta-el-id {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  outline: none;
  padding: 4px 0;
  box-sizing: border-box;
}

input.buscar-item {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  color: black;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}








